@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #282E33, #22272B);
}

.bouncy {
  transition: transform 0.2s; /* Animation */
}

.bouncy:hover {
  transform: scale(1.1); /* Animation */
}

.bouncyIssues {
  transition: transform 0.2s; /* Animation */
}

.bouncyIssues:hover {
  transform: scale(1.02); /* Animation */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 0 auto;
  margin: 1rem;
}
